<ion-view class="padding">
    <div class="flex-center-container">
        <h1 class="title">About</h1>
        <p class="subtitle">
            Relish is a new app designed for us to learn how to help people shop for food better. That doesn’t mean we want to tell you what to buy!<br/><br/>
            Instead, we want to understand the types of signals we can give people that will increase their feelings of wellbeing, reduce their stress, make them feel happier, remind them of their health goals, or anything else that might promote healthier shopping behavior.
        </p>

        <button class="button button-block button-outline button-balanced" 
                ng-click="goToPermissions()">
            Next
        </button>
    </div>
</ion-view>