<ion-view cache-view="false" hide-nav-bar="true" hide-back-button="true" can-swipe-back="false">
    
    <!--COUPON-->
    <div class="coupon-view">
        
        <div class="study">
            <div class="study-content">
                
                <!--Image-->
                <div class="study-img coupon-img flex-center-container">
                    <img ng-src="{{condition.coupon.image}}" />
                </div>

                <!--Text-->
                <div class="study-text-content">
                    <div class="study-text padding">

                        <div>
                            <h3>{{condition.coupon.title}}</h3>
                            <p>Present this one time coupon to your cashier.</p>
                        </div>

                    </div>

                </div>

                <!--Action Button-->
                <div class="flex-center-container study-action-close padding">
                    <button ng-click="close()" 
                            class="animated bounceIn button button-large button-icon icon ion-close-circled">
                    </button>
                </div>

            </div>
            
        </div>

    </div>
    
</ion-view>