<ion-view>
    
    <!--COUPON-->
    <div class="coupon-view">
        
        <div class="study">
            <div class="study-content">
                <!--Image-->
                <div class="study-img flex-center-container">
                    <qrcode class="animated fadeIn" data="{{condition.coupon.code}}" size="{{width}}"></qrcode>
                </div>

                <!--Text-->
                <div class="study-text-content">
                    <div class="study-title padding">
                        <p>{{condition.coupon.title}}</p>
                    </div>
                    <div class="study-text padding">
                        <p>Present this one time coupon to your cashier</p>
                    </div>
                </div>

                <!--Action Button-->
                <div class="flex-center-container study-action-close padding">
                    <button ng-click="reset()" 
                            class="animated bounceIn button button-large button-icon icon ion-close-circled">
                    </button>
                </div>
            </div>
        </div>

    </div>
    
</ion-view>