<ion-view class="padding">
    <div class="flex-center-container">

        <div ng-show="geoPermissionsReqVisible">
            <h1 class="title">Location Permissions</h1>
            <p class="subtitle">
                Giving us permission to know your location is essential for this app to do its magic (and give you coupons).
            </p>
            <p class="subtitle">
                Don’t worry -- we’re only using this information so we can send you notifications and coupons just when you’re headed to the store.
            </p>
            <p class="subtitle">
                That’s it! 🎉
            </p>
            <button class="button button-block button-outline button-balanced" 
                    ng-click="requestGeoPermissions()">
                Ok
            </button>
        </div>
        
        <div ng-show="pushPermissionsReqVisible">
            <h1 class="title">Notification Permissions</h1>
            <p class="subtitle">
                We use notifications to let you know there is a coupon availible when you are at the store.
            </p>
            <button class="button button-block button-outline button-balanced" 
                    ng-click="requestPushPermissions()">
                Ok
            </button>
        </div>
    </div>
</ion-view>