<ion-view>
    
    <div class="prime-view" ng-show="isPriming">
        <div class="study">
            <div class="study-content">
                <div class="study-img">
                    <img class="animated fadeIn" ng-src="{{condition.primer.image}}" />
                </div>
                <div class="study-text padding">
                    <p>{{condition.primer.description}}</p>
                </div>
            </div>

            <div class="study-action padding">
                <button ng-disabled="isDisabled" 
                        ng-click="showCoupon()" 
                        class="button button-block button-balanced animated bounceIn">
                    relish it.
                </button>
            </div>
            
        </div>
    </div>

    <div class="coupon-view" ng-show="!isPriming">
        <div class="study">
            <div class="study-content">
                <div class="study-img flex-center-container">
                    <qrcode class="animated fadeIn" data="{{condition.coupon.code}}" size="{{width}}"></qrcode>
                </div>
                <div class="study-text padding flex-center-container">
                    <p class="animated infinite bounceIn" style="text-align:center;">{{condition.coupon.description}}</p>
                </div>
            </div>
        </div>

        <div class="padding">
            <button class="button button-block button-balanced">
                Home
            </button>
        </div>

    </div>
</ion-view>