<ion-view>

    <!--PRIMER-->
    <div class="prime-view">
        
        <div class="study">
            <div class="study-content">
                <!--Image-->
                <div class="study-img">
                    <img ng-show="state == 0" src="img/too-far-illustration.svg" />
                    <img ng-show="state == 1" ng-src="img/too-late-illustration.svg" />
                    <img class="prime-img" ng-show="state == 2" ng-src="{{condition.primer.image}}" />
                </div>
                <!--Action Button-->
                <div class="study-action padding">
                    <button ng-disabled="isDisabled" 
                            ng-click="showCoupon()" 
                            class="button button-block button-balanced animated bounceIn">
                        <span ng-show="state == 0">TOO FAR</span>
                        <span ng-show="state == 1">TOO LATE</span>
                        <span ng-show="state == 2">RELISH IT</span>
                    </button>
                </div>
                <!--Text-->
                <div class="study-text-content">
                    <div class="study-title padding">
                        <p ng-show="!inRegion">Nothing to Relish</p>
                        <p ng-show="inRegion">{{condition.primer.title}}</p>
                    </div>
                    <div class="study-text padding">
                        <p ng-show="!inRegion">You are currently not within proximity of any participating venues or have already claimed your coupon</p>
                        <p ng-show="inRegion">{{condition.primer.description}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div ng-if="DEBUG" class="DEBUG" style="font-size:80%; background-color:red; position:absolute; bottom:0px; width:100vw;">
        <p style="margin:0px"><b>Target Region:</b> {{regionCoords.lat.toFixed(4)}}, {{regionCoords.lng.toFixed(4)}}</p>
        <p style="margin:0px"><b>Current:</b> {{currentCoords.lat.toFixed(4)}}, {{currentCoords.lng.toFixed(4)}}</p>
        <p style="margin:0px"><b>Dist:</b> {{dist.toFixed(4)}}m | <b>Radius:</b> {{radius.toFixed(4)}}m | <b>inRegion:</b> {{inRegion}}</p>
    </div>

</ion-view>