<ion-view class="padding">
    <div class="flex-center-container">
        
        <h1 class="title">Relish</h1>
        <h3 class="subtitle">Something something</h3>

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Coop ID" ng-model="coopId">
            </label>
        </div>
        
        <button class="button button-block button-outline button-balanced" ng-click="registerByCoopId()">
            Sigin in
        </button>

        <div>
            <a href="#"><small>Privacy</small></a>
            <a href="#"><small>Terms of User</small></a>
        </div> 
    </div>
</ion-view>