<ion-view view-title="Settings" can-swipe-back="false" on-double-tap="showDebug()">
    
    <div class="bar bar-header bar-light">
        <a ui-sref="prime" class="button button-icon icon ion-ios-arrow-back"></a>
        <h1 class="title">Settings</h1>
    </div>

    <ion-content style="padding-top:54px">
      
      <ion-list>
        <ion-item>
            Version: {{version}}
        </ion-item>
        <ion-item ng-click="logout()">
            Logout
        </ion-item>
      </ion-list>
      
      <ion-list ng-show="debug">
        <div class="item item-divider">
            Geofences
        </div>
        <ion-item ng-repeat="fence in fences">
            {{fence.identifier}}: {{fence.radius}}, <{{fence.latitude}}, {{fence.longitude}}>
        </ion-item>

      </ion-list>
      
    </ion-content>
</ion-view>