/* Empty. Add your own CSS if you like */
.box{
  height: 100%;
}
.box label{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.box-title{
    text-align: center;
}
.box-slug{
    text-align: center;
}

ion-slides{
  height: 100vh !important;
}

.flex-center-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}


.title{
  font-size: 27px;
  font-weight: 500;
  line-height: 27px;
  margin:0px;
  margin-bottom:20px;
  text-align:center;
}
.subtitle{
  opacity: 0.7;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  margin:0px;
  margin-bottom:20px;
}

.list{
  width:100%;
}
.item-input{
  border-left: 0px;
  border-right:0px;
  border-top:0px;
}

.button.button-block.button-balanced{
  border-radius: 30px;
  
  background-color: #33cd5f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  
  font-size: 30px;
	font-weight: 900;
	letter-spacing: 2.2px;
	text-align: center;
	color: #ffffff;
}
.button.disabled, .button[disabled]{
  background-color: #f7f7f7 !important;
  color: #bfbfbf !important;
}

.study-action{
    position: absolute;
    top: 50vh;
    width:100%;
    padding-left: 25px;
    padding-right: 25px;
}

ion-view{
  border-radius: 15px;
}

.study{
  height: 100vh;
}
.study .study-content{
  
}
.study .study-content .study-title{
  margin-top: 30px;

  font-size: 30px;
	font-weight: 600;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}
.study .study-content .study-text{
  font-size: 16px;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}
.study .study-content .study-img{
  width: 100vw;
  height: 100vw;
  background-color: #33cd5f;
}
.study .study-content .study-img img{
  width: 100vw;
  height: 100vw;
}
.study .study-content .study-img qrcode canvas{
  /*width: 100vw;
  height: 100vw;*/
}