/* Empty. Add your own CSS if you like */
.box{
  height: 100%;
}
.box label{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.box-title{
    text-align: center;
}
.box-slug{
    text-align: center;
}

ion-slides{
  height: 100vh !important;
}

.flex-center-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}


.title{
  font-size: 27px;
  font-weight: 500;
  line-height: 27px;
  margin:0px;
  margin-bottom:20px;
  text-align:center;
}
.subtitle{
  opacity: 0.7;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  margin:0px;
  margin-bottom:20px;
}

.list{
  width:100%;
}
.item-input{
  border-left: 0px;
  border-right:0px;
  border-top:0px;
}

.primer{
  height: 88vh;
}
.primer .primer-title{
  text-align: center;
}
.primer .primer-content .primer-img{
  width: 100vw;
  height: 100vw;
  background-color:red;
}
.primer .primer-content .primer-img img{
  width: 100vw;
  height: 100vw;
}